body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
    color:darkorange;
}
h1{
    color:aquamarine
}
a{
    color:aqua;
}
a:hover{
    color: orangered;
}
ul > li{
    font-weight: bold;
}
h1+p{
    background-color: chocolate;
    padding: 10px;
    border-radius: 5px;
}
ul li:hover{
    color:indianred;
}
p:not(:first-of-type){
    text-decoration: underline;
}
ul li::before{
    content:"🚀";
}
a::after{
    content:"🌌";
}
p::first-letter{
    font-size: 200%;
    color:cyan;
}